<% provide(:title, 'Sign up') %>

<div class="form_container row">
<h1>Sign up</h1>

  <div class="form-group col-lg-8">
    <%= form_for(@user) do |f| %>
      <%# render 'shared/error_messages' %>

      <p>
      <%= f.label :name %><br />
	  <%= f.text_field :name %>
	  </p>

	  <p>
	  <%= f.label :email %><br />
	  <%= f.text_field :email %>
	  </p>

	  <p>
	  <%= f.label :password %><br />
	  <%= f.password_field :password %>
	  </p>

	  <p>
	  <%= f.label :password_confirmation, "Confirm Password" %><br />
	  <%= f.password_field :password_confirmation %>
	  </p>
	  <%# user.label :mentors, "I want to be a mentor"%>
	  <%# user.check_box :mentors, {}, "true", "false" %>

	  <%# user.label :learners, "I want to be a mentor"%>
	  <%# user.check_box :learners, {}, "true", "false" %>

     <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

