<% provide(:title, 'Mentor Info') %>

<div class= "form_container">

<table class="table table-hover">

	<tr>
		<th>Skill Name</th>
		<th>Skill Description</th>
		<th>Mentor Name</th>
		<th>Notes</th>
	</tr>

	<tr>

	<% @mentor.skills.each do |ms| %>
		<td><%= ms.skill_name %></td>
		<td><%= ms.skill_description %></td>
		<% end %>

		<td><%= @mentor.user.email %></td>
		<td><%= @mentor.notes %></td>
	</tr>
</table>

<br />
<br />
<br />
<p><%= link_to 'Back', mentors_path %></p>

</div>


