<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header ">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Wanderlust.co</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
      <li><%= link_to "Skills", skills_path %></li>

    <div class = "rightside">
    <ul class="nav navbar-nav navbar-right">

    <% if current_user %>  
    
      <li><%= current_user.email %></li>
      <li><%= button_to "logout", "/authentications/_", method: "delete" %></li>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Mentors", mentors_path %></li>
      <li><%= link_to "Learners", learners_path %></li>
  
    </div>
                     
    <% else %>
      <%= render "authentications/form" %>
    <% end %>
    

    
    
</nav> 

	




	
